JWT_SECRET=jwt_secret
MONGODB_URL=mongodb://user:password@localhost:27000/flashcard
SALT_ROUNDS=12
SERVER_NAME=flashcard
SERVER_HOST=localhost
SERVER_APP_LINK=http://localhost:8080
JWT_TTL=10day
NODE_MAILER_REFRESH_TOKEN=ref_t95k3n
NODE_MAILER_USER_MAIL=noname@mailer.com
NODE_MAILER_CLIENT_SECRET=asdf
NODE_MAILER_PASSWORD=fakepass
NODE_MAILER_EMAIL=noname@mailer.com